In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
fake=pd.read_csv('../dataset/Fake.csv')
real=pd.read_csv('../dataset/True.csv')

print(f'Fake shape={fake.shape}\nReal shape={real.shape}')

Fake shape=(23481, 4)
Real shape=(21417, 4)

In [7]:
fake['label']=1
real['label']=0

assigning the label  1 for fake 
assigning the label  2 for real

In [10]:
df=pd.concat([fake,real],axis=0)
df=df.sample(frac=1).reset_index(drop=True)
df.head()

,title,text,subject,date,label
0,Big Time Racists Are Backing This Republican ...,A super PAC backing Ted Cruz s presidential ca...,News,"February 19, 2016",1
1,U.S. attorney general calls for efficient revi...,WASHINGTON (Reuters) - U.S. Attorney General J...,politicsNews,"December 6, 2017",0
2,Soccer star Weah leads most counties in Liberi...,MONROVIA (Reuters) - Former soccer star George...,worldnews,"October 12, 2017",0
3,Iraq expects to restore Kirkuk output Sunday: ...,BAGHDAD (Reuters) - Iraq won t be able to rest...,worldnews,"October 19, 2017",0
4,U.S. Interior chief recommends shrinking Utah'...,WASHINGTON (Reuters) - U.S. Interior Secretary...,politicsNews,"June 12, 2017",0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [11]:
# checking the class distribution
df["label"].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

here the class is imbalance

In [ ]:
# checking the missing values
df.isnull().sum()

#no null values

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [14]:
# finding the text legth
df["text_length"] = df["text"].apply(len)

df.groupby("label")["text_length"].mean()

label
0    2383.278517
1    2547.396235
Name: text_length, dtype: float64

as we know that fake news text often has more words
here also fake news has more text length

now we will merege the text and title column as the single column text and title is not that much usefull for classification it will misscalassify the news

In [15]:
df["content"] = df["title"] + " " + df["text"]

print(df['content'])

0         Big Time Racists Are Backing This Republican ...
1        U.S. attorney general calls for efficient revi...
2        Soccer star Weah leads most counties in Liberi...
3        Iraq expects to restore Kirkuk output Sunday: ...
4        U.S. Interior chief recommends shrinking Utah'...
                               ...
44893    Exclusive: Trump calls Chinese 'grand champion...
44894    VIGILANTE PIRATES INTERCEDE Where Government F...
44895    Congresswoman quits Democratic National Commit...
44896     Senate Democrats Launch A Filibuster Over Gun...
44897    Assad sets sights on Kurdish areas, risking ne...
Name: content, Length: 44898, dtype: object